<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title> Peliculas  - {% block titulo %}{% endblock %}</title>
</head>
<body>
    <header>
        {% block encabezado %}{% endblock %}
        <h1> Peliculas  </h1>
        <nav>
            <a href='/'> Inicio </a> |
            <a href="/cargar_datos"> Cargar Datos </a> |
            <a href="/loadRS"> Cargar RS</a> |
            
        </nav>
    </header>
    <section class="contenido">
    {% block contenido %}
    {% endblock %}
    </section>
    <footer>
        {% block pie %}{% endblock %}
    </footer>
</body>
</html>

