{% extends 'base.html' %}

{% block titulo %} Recomendación de películas para un usuario {% endblock %}	    

{% block contenido %} 

    	<form id="formulario" method="post" action=''>{% csrf_token %}
    		<fieldset>
    			<legend>Búsqueda de Usuario</legend>
    			{{formulario}}
    			<BR><BR>

    			<input type='submit' value='Realizar Búsqueda'/>
    		</fieldset>
    	</form>
	    
	    <hr>

	    {% if items %}
		    <h4> Películas recomendadas para el usuario {{usuario.idUsuario}}:
		     edad:{{usuario.edad}} sexo:{{usuario.sexo}} ocupación:{{usuario.ocupacion.nombre}} CP:{{usuario.codigoPostal}}</h4>
		    <dl class="uk-description-list-line">

			{% for pelicula, puntuacion in items %}
			    <dd>Título: {{pelicula.titulo}}  Puntuación:{{puntuacion | floatformat:"2"}}</dd>    
			{% endfor %}

			</dl>

		{% endif %}

{% endblock %}